.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  height: 75px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.img-container {
  width: 100%;
  background-color: #282c34;
  height: 250px;
  display: flex;
  align-items: top;
  justify-content: center;
}

.img {
  height: 200px;
}

